.header {
    background-color: blue;
}
.header-nav {
    display: flex;
    align-items: center;
    padding-block: 10px;
}

.header__logo-home {
    color: transparent;
    text-decoration: none;
}
.header__logo-img {
    width: 150px;
    fill: var(--white-color);
}
.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
}
.header__search form {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.header__search-input-warp {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid black;
    height: 40px;
    color: var(--text-color);
    border-radius: 2px;
    font-size: 16px;
}

.header__search-btn {
    background-color: #00b2bf;
    height: 40px;
    width: 70px;
    border: none;
}
.header__search-btn:hover {
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 12px;
    color: var(--white-color);
}

.img-style {
    height: 65px;
}

.cart-row {
    position: relative;
}

.cart-link {
    font-size: 20px;
    color: aliceblue;
}
.cart-link img {
    height: 50px;
}
#quantity-cart {
    font-size: 14px;
    background-color: red;
    color: #fff;
    padding: 0px 6px;
    position: absolute;
    top: 0px;
    right: 3px;
    border-radius: 50%;
}

.customer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-customer {
    font-weight: 500;
    color: white;
    margin: 0px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.user-customer img {
    width: 40px;
    margin-right: 5px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}

.sign-up {
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 0px 6px;
    border-radius: 4px;
}

.sign-in {
    font-weight: 500;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.megamenu {
    list-style: none;
    background-color: aqua;
    padding: 5px 6px 5px 6px;
}
.megamenu a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.sub-megamenu {
    display: none;
}

.app_container {
    background: #f5f5f5;
}

.header-content {
    text-align: center;
}

.menu-brand {
    display: flex;
    padding: 0;
    border: 1px solid black;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}
.brand-item {
    padding: 5px 10px;
    border: 1px solid blue;
    list-style: none;
    display: inline-block;
    border-radius: 20px;
}
.brand-item a {
    text-decoration: none;
    font-weight: 500;
}

/* ==============================SIDEBAR============================ */

#sidebar {
    position: fixed;
    right: -300px; /* Ẩn sidebar khi không hiển thị */
    top: 0;
    width: 300px;
    height: 100%;

    background-color: #f1f1f1;
    border-left: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease; /* Hiệu ứng chuyển động khi hiện sidebar */
    z-index: 1;
}

.sidebar-header {
    display: flex;

    justify-content: space-between;
}
.user-customer-sidebar {
    font-weight: 500;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.user-customer-sidebar img {
    width: 40px;
    margin-right: 5px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}
.close-sidebar {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-sidebar:hover {
    color: red;
}

.sidebar-body {
    margin-top: 10px;
}
.sidebar-content {
    /* margin-left: 4px; */
    border: 1px solid black;
}
.sidebar-content li {
    list-style: none;
    padding: 5px 0px;
    transition: background-color 0.4s;
}

.sidebar-content li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-content li a {
    text-align: center;
    font-weight: 500;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối với độ trong suốt */
    display: none;
    z-index: 1;
}

/* Hiển thị sidebar và overlay */

/* ==============================SIDEBAR============================ */

/*==========================HOME PRODUCT=====================*/
.product-content {
    padding-block: 10px;
    background-color: #ffffff;
}
.box-right {
    border: 1px solid black;
    background-color: #ffffff;
    padding: 10px;
}
.home-product-img {
    height: 170px;
    max-width: 100%;
}
.product-detail {
    overflow: hidden;
    margin-left: 0px;
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
}

.box-thumbnail {
    display: flex;
    position: relative;
    background-color: #000;
    flex-direction: column;
    align-items: center; /* Căn giữa box-thumbnail */
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.box-thumbnail-img {
    height: 300px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    cursor: zoom-in;
}

.mirror {
    width: 100px;
    height: 100px;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}
.hide {
    display: none;
}
.box-thumbnail:hover .mirror {
    opacity: 1; /* Hiện thẻ mirror khi di chuột vào */
}

.box-thumbnail:hover .mirror {
    transform: scale(2); /* Phóng to thẻ mirror */
    cursor: zoom-in; /* Thay đổi con trỏ chuột khi di chuột vào */
}

.gallery-product {
    display: flex;

    flex-wrap: wrap;
    gap: 10px;
}
.gallery-product img {
    height: 80px;

    object-fit: cover;
    cursor: pointer;
}

.gallery-product img.selected {
    border: 2px solid #007bff; /* Hiển thị viền khi ảnh được chọn */
}

/* ======================DETAIL PRODUCT====================== */
.add-to-cart {
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.buy-now {
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
}
.policy {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.tab-title {
    border: 1px solid black;
    margin: 0px;

    border-radius: 2.5px;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: center;
}
.specifications {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
}

.specifications .box-specifi {
    display: block;
    overflow: hidden;
    margin: 0px 10px;
}

.box-specifi > a {
    display: block;
    overflow: hidden;
    background: #f2f4f7;
    padding: 15px 10px;
    color: #000;
    text-decoration: none;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    border-radius: 8px;
}
.text-specifi {
    display: block;
    margin: 0px;
    padding: 0px;
}
.text-specifi li {
    display: block;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #eaecf0;
    background-color: #fff;
}

.text-specifi li aside:first-child {
    float: left;
    width: 200px;
    max-width: 30%;
    margin-right: 30px;
}

.text-specifi li aside:last-child {
    display: block;
    overflow: hidden;
}

.text-specifi {
    display: none;
}

.text-specifi.active {
    display: block;
}

/* review sản phẩm */
.block-review {
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    padding: 10px;
    margin-top: 10px;
}
.boxreview__title {
    font-size: 20px;
}
.box-star {
    display: flex;
}

.star-product {
    border: 1px solid black;
    width: 100%;
    font-size: 25px;
    text-align: center; /* Căn giữa cả 2 phần tử con */
    position: relative; /* Để sử dụng căn giữa theo chiều dọc */
}
.star-product .point {
    color: #f59e0b;
    font-size: 30px;
    display: block;
}
.list-star {
    display: inline-block;
    color: #f59e0b;
}

.list-rate {
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.rate-list {
    list-style: none;
    margin-top: 5px;
    padding: 0px;
}
.rate-list li {
    display: inline-block;
    align-items: center;
}
.number-start {
    display: inline-block;
    color: #f59e0b;
}
.timeline-start {
    display: inline-block;
    background-color: #eee;
    border-radius: 20px;
    height: 8px;
    width: 180px;
}
.timing {
    background-color: #f59e0b;
    border-radius: 20px;
    left: 0;
    height: 6px;
}

.box-review-filter {
    display: block;
}
.filter-container {
    gap: 10px;
    margin-bottom: 10px;
    overflow: auto;
    width: 100%;
}
.title-filter {
    display: block;
    font-size: 26px;
    font-weight: 500;
}
.filter-item {
    align-items: center;
    background-color: #fff;
    border: 1px solid #637381;
    border-radius: 15px;
    color: #637381;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    gap: 10px;
    padding: 3px 12px;
    white-space: nowrap;
    box-sizing: inherit;
}

.filter-item.active {
    background-color: #d70018;
    border: none;
    color: #fff;
}

.boxReview-review {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxReview-comment {
    display: block;
}

.boxReview-comment-item {
    padding: 10px 10px;
}

.boxReview-comment-item-title {
    display: block;
    margin: 0px;
    padding: 0px;
}

.boxReview-comment-item-block {
    display: inline-block;
}

.box-info-review {
    display: inline-block;
    font-size: 16px;
}
.avt-review-info {
    height: 28px;
    margin-right: 10px;
}
.box-time-review {
    display: inline-block;
    font-size: 16px;
}

.boxReview-comment-item-review {
    margin: 0px 0px 0px 30px;
    display: block;
    padding: 0px;
}

.star-rating__review {
    display: block;
    font-size: 22px;
    color: #f59e0b;
}

.boxReview-comment-item__cmt {
    display: block;
    font-size: 16px;
}

.view-more-review {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__view-more-review {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    color: #000;
    font-size: 18px;
    display: block;
    gap: 5px;
    height: 32px;
    margin: auto;
    text-decoration: none;
    width: 300px;
}

.button__view-more-review:hover {
    box-shadow: 0 1px 2px 0 red, 0 2px 6px 2px red;
    border: 1px solid red;
    color: red;
}
/* block  comment  */
.box-comments {
    margin-top: 5px;
    padding: 0px 10px;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: #000;
}

.boxcomment__title {
    font-size: 16px;
}

.comment-box {
    display: flex;
}

.comment-box form {
    width: 100%;
}
.textarea-cmt {
    display: flex;
}

.add-comment-btn {
    border: none;
    background-color: #d70018;
    margin-left: 10px;
    height: 40px;
    font-size: 18px;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 0px 4px 0px 4px;
}

.comment-text {
    width: 90%;
    border-radius: 5px;
    height: 100px;
    resize: none;
}

.avt-img-review {
    height: 50px;
}

.box-comments-item {
    display: block;
    padding: 10px;
}

.item-comment__box-cmt {
    width: 100%;
    display: block;
}

.box-cmt__box-info {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.avt-cmt-info {
    height: 24px;
    margin-right: 10px;
}

.box-info {
    display: flex;
}

.box-info .content-question {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
}

.box-time-cmt {
    display: flex;
}
.box-time-cmt time {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.box-cmt__box-question {
    display: block;
    margin-top: 4px;
    background-color: white;
    padding: 5px 0px 10px 0px;
    border-radius: 4px;
    box-shadow: #000;
}

.content {
    font-size: 13px;
    margin: 0;
}

.content .content-question {
    padding-left: 4px;
    margin: 0px;
    font-size: 15px;
}

.item-comment__box-rep-comment {
    margin-top: 5px;
    display: block;
}

.item-rep-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-comment__box-rep-comment .box-cmt__box-question {
    margin-left: 20px;
}

.item-comment__box-rep-comment .box-cmt__box-question p {
    padding-left: 5px;
    font-size: 15px;
}

/* review sản phẩm */
/*  sản phẩm cùng loại */
.similar-products {
    border: 1px solid black;
    display: flex;
}

.similar-product {
    padding-block: 10px;
    background-color: #ffffff;
}

.similar-product img {
    height: 170px;
    max-width: 100%;
}

.similar-product h5 {
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.similar-product-price {
    font-size: 20px;
    font-weight: 500;
    color: #d70018;
}

.bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__box-rating {
    color: #f59e0b;
    display: flex;
    font-size: 16px;
}
.product__box-favorite {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.product__box-favorite .favorite-title {
    font-size: 14px;
}
.favorite-icon {
    color: red; /* Màu sắc của hình trái tim */
    display: inline-block;
    font-size: 30px;
    transition: color 0.3s; /* Hiệu ứng chuyển màu khi hover */
    padding: 0px;
    margin: 0px;
}

.favorite-icon:hover {
    color: red; /* Giữ nguyên màu sắc khi hover */
}

.favorite-icon:before {
    content: "\2661"; /* Mã Unicode cho trái tim rỗng */
}

.favorite-icon:hover:before {
    content: "\2665"; /* Mã Unicode cho trái tim đầy */
}

/*  sản phẩm cùng loại */
/* ======================DETAIL PRODUCT====================== */

/*==========================HOME PRODUCT=====================*/

/*==========================CART=====================*/

.shopping-cart {
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
}
.table-cart {
    color: black;
    width: 100%;
}

.coupon-container {
    margin-top: 10px;
    font-size: 15px;
}
.coupon-input {
    border: 1px solid #367517;
    padding: 8px;
    width: 70%;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.coupon-check {
    border: 1px solid #367517;
    background: #367517;
    width: 30%;
    padding: 8px;
    color: white;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.discount-code-area {
    display: flex;
}

.checkout-link {
    margin-top: 5px;
    padding: 6px 0px;
    width: 100%;
    display: block;
    background-color: #103667;
    border: 1px solid #103667;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.type-shipping {
    margin-right: 40px;
}

.summary-cart {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid black;
}
.delete-all {
    margin-right: 20px;
}
/*==========================CART=====================*/

/*==========================INFORMATION CUSTOMER=====================*/
.border-white {
    background: white;
    border: 1px solid black;
    padding: 20px 20px;
    margin-bottom: 15px;
}
.title-top {
    font-size: 25px;
    color: #007bff;
    font-weight: 500;
}
.image-customer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
}

.avatar-customer {
    object-fit: cover;
    height: 200px;
    border: none;
    margin: 0px;
    border-radius: 10px;
}
.infomation-customer {
    margin-top: 4px;
}

.order-statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.col-stantistics {
    display: block;
}

.table {
    width: 100%;
}

.view-order-history {
    text-decoration: none;
    color: #367517;
    font-weight: 500;
}

/* HISTORY ORDER */
.history-order-content {
    background: white;
    border: 1px solid black;
    padding: 20px 20px;
    margin-bottom: 15px;
}
.history-order-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-view {
    cursor: pointer;
}
#table-view {
    display: block;
}
.table-list-order {
    width: 100%;
    text-align: center;
    /* display: none; */
}

#card-view {
    display: none;
}
.border-card {
    border: 1px solid #0e0e0e79;
    padding: 10px 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* HISTORY ORDER */

/*==========================INFORMATION CUSTOMER=====================*/

/*==========================CHECK OUT=====================*/

.check-out {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.form-control {
    width: 100%;
    height: 40px;
}
.cart-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.note-user {
    resize: none;
    height: 100px;
}

.send-order {
    background-color: rgb(24, 71, 133);
    width: 100%;
    border: 1px solid black;
    font-size: 18px;
    color: white;
    height: 40px;
    border-radius: 4px;
}

.avatar-lg {
    height: 80px;
    width: 80px;
}
/*==========================CHECK OUT=====================*/
.footer {
    background-color: aqua;
}
