.header {
    background-color: blue;
}
.header-nav {
    display: flex;
    align-items: center;
    padding-block: 10px;
}

.header__logo-home {
    color: transparent;
    text-decoration: none;
}
.header__logo-img {
    width: 150px;
    fill: var(--white-color);
}
.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
}
.header__search form {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.header__search-input-warp {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid black;
    height: 40px;
    color: var(--text-color);
    border-radius: 2px;
    font-size: 16px;
}

.header__search-btn {
    background-color: #00b2bf;
    height: 40px;
    width: 70px;
    border: none;
}
.header__search-btn:hover {
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 12px;
    color: var(--white-color);
}

.cart-row {
    position: relative;
}

.cart-link {
    font-size: 20px;
    color: aliceblue;
}
.cart-link img {
    height: 50px;
}
#quantity-cart {
    font-size: 14px;
    background-color: red;
    color: #fff;
    padding: 0px 6px;
    position: absolute;
    top: 0px;
    right: 3px;
    border-radius: 50%;
}

.customer {
    display: flex;
    justify-content: space-around;
}

.user-customer {
    font-weight: 500;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.user-customer img {
    width: 40px;
    margin-right: 5px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}

.sign-up {
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 0px 6px;
    border-radius: 4px;
}

.sign-in {
    font-weight: 500;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.megamenu {
    list-style: none;
    background-color: aqua;
    padding: 5px 6px 5px 6px;
}
.megamenu a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.sub-megamenu {
    display: none;
}

.app_container {
    min-height: 100vh;
    background-color: #f3f3f3;
}

.header-content {
    text-align: center;
}

.menu-brand {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 400px;
}
.brand-item {
    padding: 5px 10px;
    border: 1px solid blue;
    list-style: none;
    border-radius: 20px;
}
.brand-item a {
    text-decoration: none;
    font-weight: 500;
}

/* ==============================SIDEBAR============================ */

#sidebar {
    position: fixed;
    right: -300px; /* Ẩn sidebar khi không hiển thị */
    top: 0;
    width: 300px;
    height: 100%;

    background-color: #f1f1f1;
    border-left: 1px solid #ccc;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease; /* Hiệu ứng chuyển động khi hiện sidebar */
    z-index: 1;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
}
.user-customer-sidebar {
    font-weight: 500;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.user-customer-sidebar img {
    width: 40px;
    margin-right: 5px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}
.close-sidebar {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-sidebar:hover {
    color: red;
}

.sidebar-body {
    margin-top: 10px;
}
.sidebar-content {
    /* margin-left: 4px; */
    border: 1px solid black;
}
.sidebar-content li {
    list-style: none;
    padding: 5px 0px;
    transition: background-color 0.4s;
}

.sidebar-content li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-content li a {
    text-align: center;
    font-weight: 500;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối với độ trong suốt */
    display: none;
    z-index: 1;
}

/* Hiển thị sidebar và overlay */

/* ==============================SIDEBAR============================ */

/*==========================HOME PRODUCT=====================*/
.product-content {
    padding-block: 10px;
    background-color: #ffffff;
}
.box-right {
    border: 1px solid black;
    background-color: #ffffff;
    padding: 10px;
}
.home-product-img {
    height: 170px;
    max-width: 100%;
}
.product-detail {
    overflow: hidden;
    margin-left: 0px;
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
}

.box-gallery {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
}
.box-gallery-img {
    width: 100%;
}

.gallery-product {
    display: flex;

    flex-wrap: wrap;
    gap: 10px;
}
.gallery-product img {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

/* ======================DETAIL PRODUCT====================== */
.add-to-cart {
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.buy-now {
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
}
.policy {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.tabs {
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.specifications {
    background-color: #ffffff;
}

.specifications .box-specifi {
    display: block;
    overflow: hidden;
    margin: 0 0 10px;
}

.box-specifi > a {
    display: block;
    overflow: hidden;
    background: #f2f4f7;
    padding: 15px 10px;
    color: #000;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    border-radius: 8px;
}
.text-specifi {
    display: block;
}
.text-specifi li {
    display: block;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #eaecf0;
}

.text-specifi li aside:first-child {
    float: left;
    width: 200px;
    max-width: 30%;
    margin-right: 30px;
}

.text-specifi li aside:last-child {
    display: block;
    overflow: hidden;
}

.text-specifi {
    display: none;
}

.text-specifi.active {
    display: block;
}
/* ======================DETAIL PRODUCT====================== */

/*==========================HOME PRODUCT=====================*/

/*==========================CART=====================*/

.shopping-cart {
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
}
.table-cart {
    color: black;
    width: 100%;
}

.coupon-container {
    margin-top: 10px;
    font-size: 15px;
}
.coupon-input {
    border: 1px solid #367517;
    padding: 8px;
    width: 70%;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.coupon-check {
    border: 1px solid #367517;
    background: #367517;
    width: 30%;
    padding: 8px;
    color: white;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.discount-code-area {
    display: flex;
}

.checkout-link {
    margin-top: 5px;
    padding: 6px 0px;
    width: 100%;
    display: block;
    background-color: #103667;
    border: 1px solid #103667;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.type-shipping {
    margin-right: 40px;
}

.summary-cart {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid black;
}
.delete-all {
    margin-right: 20px;
}
/*==========================CART=====================*/

/*==========================INFORMATION CUSTOMER=====================*/
.frame-inforcustomer {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 20px 20px;
}

.image-customer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.position-relative {
    position: relative !important;
}

.avatar-customer {
    height: 250px;
    border-radius: 50%;
}
.infomation-customer {
    margin-top: 4px;
}
/*==========================INFORMATION CUSTOMER=====================*/

/*==========================CHECK OUT=====================*/

.check-out {
    padding: 20px;
    background-color: #ffffff;
}

.form-control {
    width: 100%;
    height: 40px;
}
.cart-info {
    background-color: #ffffff;
    padding: 20px;
}
.note-user {
    resize: none;
    height: 100px;
}

.send-order {
    background-color: rgb(24, 71, 133);
    width: 100%;
    border: 1px solid black;
    font-size: 18px;
    color: white;
    height: 40px;
    border-radius: 4px;
}

.img-style {
    height: 65px;
}
/*==========================CHECK OUT=====================*/
.footer {
    background-color: aqua;
}
